*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    height: 100px;
    width: 100px;
    background-color: red;
    color: black;
    border: 1px solid black;
    text-align: center;
    padding: 35px;
    font-size: 30px;
    font: bold;
    margin: 50px;
    cursor: pointer;
}
#add{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}