.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    background-color: red;
    color: white;
    cursor: pointer;
}